html,
body {
    height: auto;
    background-color: #171b38;
}

.popup-container {
    min-width: 64ch;
    flex-direction: column;
}

.popup-logo {
    max-width: 6rem;
}

.mantine-Pill-root:where([data-disabled], :has(button:disabled)) {
    padding-inline-end: 0 !important;
}

.mantine-Pill-root:where([data-disabled], :has(button:disabled))>button.mantine-CloseButton-root {
    min-width: 2em !important;
    padding-inline: .1em .3em !important;
    display: inline-flex !important;
}

.mantine-Pill-root:where([data-disabled], :has(button:disabled))>button.mantine-CloseButton-root>svg {
    display: block !important;
}